---
import { CollectionEntry, getEntryBySlug } from "astro:content";
import IconPill from "~/components/global/IconPill.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const {
  data: { tech },
} = await getEntryBySlug("categories", "tech");

const techWithIcons = await Promise.all(
  await project.data.tags.map(async (techSlug) => {
    const techItem = tech.find((x) => x.slug === techSlug);

    return {
      ...techItem,
      icon: (
        await import(
          /* @vite-ignore */ `../../assets/icons/${techItem.icon}.svg`
        )
      ).default,
    };
  })
);
---

<a class="project-card" href={`/project/${project.slug}`}>
  <div class="title">{project.data.title}</div>
  <div class="subtitle">{project.data.subtitle}</div>
  <ul class="tags">
    {
      techWithIcons.map((item, index) => (
        <li class="tag">
          <IconPill
            label={item.name}
            icon={item.icon}
            colour={item.colour}
            small={true}
          />
        </li>
      ))
    }
  </ul>
</a>

<style lang="scss">
  .project-card {
    height: 100%;
    border: solid 1px #ebebeb;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;

    transition: border 200ms;

    &:hover,
    &:active,
    &:focus {
      border-color: #d3d3d3;
      background-color: #fcfcfc;
    }

    > * {
      flex: 0 0 100%;
    }

    .title {
      font-weight: 500;
      margin-bottom: $spacing-xs;
      font-size: 0.75rem;
    }
    .subtitle {
      font-size: 0.5em;
      color: gray;
      margin-bottom: $spacing-xs;
      line-height: 1.25em;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      align-self: flex-end;
    }
  }
</style>
