---
import { getCollection, getEntryBySlug } from "astro:content";

const projects = await getCollection("projects");
---

<section class="section">
  <h2 class="section-title has-icon" data-icon="logo">Projects</h2>
  <ol class="projects">
    {
      projects.map((project, index) => (
        <li class="has-icon" data-icon="logo" data-project={index}>
          <a class="project-card" href={`/${project.slug}`}>
            <div class="title">{project.data.title}</div>
            <div class="subtitle">{project.data.subtitle}</div>
            <ul class="tags">
              {project.data.tags?.map((tag, index) => (
                <li class="tag">{tag}</li>
              ))}
            </ul>
          </a>
        </li>
      ))
    }
  </ol>
</section>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .project-card {
    // background-color: white;
    // box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.02);
    // padding: 1.5rem;

    // border: solid 1px #ebebeb;
    // padding: 1.5rem;
    // background-color: white;

    display: block;
    border-radius: 1rem;

    .title {
      font-weight: 500;
      margin-bottom: 0.5rem;
      // margin-bottom: 2rem;
    }
    .subtitle {
      font-size: 0.5em;
      color: gray;
      margin-bottom: 1rem;
    }
    .tags {
      display: flex;
      gap: 0.5rem;
    }
    .tag {
      font-size: 0.5rem;
      background-color: rgb(231, 231, 231);
      padding: 0.4em 0.75em;
      border-radius: 10em;
    }
  }
</style>
