---
import { getCollection, getEntryBySlug } from "astro:content";
import IconPill from "~/components/global/IconPill.astro";

// const tech = frontmatter;

const skills = await getCollection("skills");
// const techs = await getCollection("tech");

const {
  data: { tech },
} = await getEntryBySlug("categories", "tech");

const techWithIcons = await Promise.all(
  await tech.map(async (item) => {
    return {
      ...item,

      icon: (
        await import(/* @vite-ignore */ `../../assets/icons/${item.icon}.svg`)
      ).default,
    };
  })
);
---

<section class="section has-icon" data-icon="skills">
  {/* Skills */}
  <h2 class="section-title">What I Know</h2>
  <p class="body">
    With knowledge spanning the full stack, my goal is to constantly learn as I
    bring modern web experiences to life.
  </p>

  <h3 class="section-subtitle">Skills</h3>
  <ol class="tech">
    {
      techWithIcons.map((item) => (
        <li>
          <IconPill
            label={item.name}
            icon={item.icon}
            tooltip={item.tooltip}
            colour={item.colour}
          />
        </li>
      ))
    }
  </ol>
</section>

<style lang="scss">
  section {
    // display: grid;
    grid-template-columns: 2fr 3fr;
    > .body {
      margin-bottom: 2rem;
    }
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;

    @include breakpoint(sm) {
      gap: 0.5rem;
    }

    @include breakpoint(md) {
      gap: 0.6rem;
    }

    @include breakpoint(lg) {
      gap: 0.7rem;
    }

    li {
      display: flex;
      gap: 1rem;
    }

    .logo {
      height: 1em;
    }

    h3 {
      font-size: 0.7rem;
      font-weight: normal;
    }
  }
</style>
