---
import { getCollection, getEntryBySlug } from "astro:content";
import IconPill from "../global/IconPill.astro";

import vue from "../../assets/icons/vue.svg";

// const tech = frontmatter;

const skills = await getCollection("skills");
// const techs = await getCollection("tech");

const {
  data: { frontend, backend },
} = await getEntryBySlug("categories", "tech");
---

<section class="section has-icon" data-icon="skills">
  <!-- Skills -->
  <h2 class="section-title">What I Do</h2>
  <ol class="skills">
    <li>
      <h3 class="title">Backend</h3>
      <ol class="tech">
        {
          backend.map((item) => (
            <li>
              <IconPill label={item.name} icon={vue} tooltip={item.tooltip} />
            </li>
          ))
        }
      </ol>
    </li>
    <li>
      <h3 class="title">Frontend</h3>
      <ol class="tech">
        {
          frontend.map((item) => (
            <li>
              <IconPill label={item.name} icon={vue} tooltip={item.tooltip} />
            </li>
          ))
        }
      </ol>
    </li>
  </ol>
</section>

<style lang="scss">
  section {
    // display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;

    .title {
      font-size: 0.75rem;
      font-weight: 500;
      margin-bottom: $spacing-sm;
      // font-family: monospace;

      // &::before,
      // &::after {
      //   color: #ebebeb;
      // }

      // &::before {
      //   content: "<";
      //   margin-right: 0.25em;
      // }
      // &::after {
      //   content: "/>";
      //   margin-left: 0.25em;
      // }
    }
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;

    li {
      display: flex;
      gap: 1rem;
    }

    .logo {
      height: 1em;
    }

    h3 {
      font-size: 0.7rem;
      font-weight: normal;
    }
  }
</style>
