---
export interface Props {
  label: string;
  tooltip?: string;
  icon?: string;
  colour: string;
  small?: boolean;
}

import Tooltip from "./Tooltip.vue";

const { label, url, icon, colour, small, tooltip } = Astro.props;

const backgroundColor = colour;
---

<div class="pill-wrapper">
  {
    tooltip ? (
      <Tooltip
        client:visible
        distance={15}
        triggers={["hover", "focus", "touch"]}
      >
        <button class:list={["pill", { small: small }]}>
          <div class="icon">
            <img src={icon ? icon : ""} alt={`${label} Icon`} />
          </div>
          <span class="label">{label}</span>
        </button>

        <div slot="popper">{tooltip}</div>
      </Tooltip>
    ) : (
      <button class:list={["pill", { small: small }]}>
        <div class="icon">
          <img src={icon ? icon : ""} alt={`${label} Icon`} />
        </div>
        <span class="label">{label}</span>
      </button>
    )
  }
</div>
<style lang="scss" define:vars={{ backgroundColor }}>
  .pill-wrapper {
    --backgroundColor: #f5f5f5;
  }
  .pill {
    display: inline-flex;
    align-items: center;
    border: none;
    font-size: 1em;
    padding-right: $spacing-xs;
    border-radius: 1rem;

    background-color: var(--backgroundColor);

    &.small {
      font-size: 0.75em;
    }
  }
  .icon {
    width: 0.75em;
    height: 0.75em;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);

    img {
      width: 0.5em;
      height: 0.5em;
    }
  }
  .label {
    font-size: 0.45em;
    font-weight: 500;
    opacity: 0.8;
  }
</style>
